---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Projects from '../components/Projects.astro';
import Features from '../components/Features.astro';

---

<Layout title="Welcome to Astro.">
  <main class='px-60'>
    <Hero />
		<Projects />
		<Features />
  </main>
</Layout>
