---
const navItems = [
  {
    title: 'Projects',
    label: 'projects',
    url: '/#projects',
  },
  {
    title: 'Stack',
    label: 'stack',
    url: '/#stack',
  },
  {
    title: 'About me',
    label: 'about me',
    url: '/#about-me',
  },
];
---

<header>
  <nav class="flex justify-center p-8 text-4xl font-medium">
    {
      navItems.map((link) => (
        <a  
        aria-label={link.label}
        href={link.url}
        class='mx-4'>
          {link.title}
        </a>
      ))
    }
  </nav>
</header>
