---
import GitHub from '../components/icons/GitHub.astro';
import LinkedIn from '../components/icons/LinkedIn.astro';
---

<section class="flex justify-center gap-16 py-52">
  <img class='min-h-96 min-w-fit' class="h-96 w-full object-cover" src="/me.png" alt="Victor Gomez Photo" />
  <div class="flex flex-col justify-center items-center">
    <h1 class="text-6xl font-semibold">Victor Gomez</h1>
    <h2 class="text-3xl font-normal">Full Stack Web Developer</h2>
    <a
      class="bg-[#2000FF] transition-transform hover:scale-105 text-white font-regular py-1 px-2 rounded-xl shadow-2xl my-3"
      href="mailto:correo@ejemplo.com"
    >
      Contact me</a
    >
    <div class="flex gap-2">
      <a href="https://github.com/bebigomez"><GitHub class="h-7 w-7 transition-transform hover:scale-105" /></a>
      <a href="https://github.com/bebigomez"><LinkedIn class="h-7 w-7 transition-transform hover:scale-105" /></a>
    </div>
  </div>
</section>
